@font-face {
  font-family: 'helen_pro_regular';
  src:
       url('../fonts/Helen_Pro_Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'helen_pro_light';
  src:
       url('../fonts/Helen_Pro_Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}