$white: #fff;
$black: #000;
$transparent: transparent;

$black-90-percents-opacity: rgba(0, 0, 0, 0.9);
$white-40-percents-opacity: rgba(255, 255, 255, 0.4);
$white-50-percents-opacity: rgba(255, 255, 255, 0.5);

// Background from PSD
$dark-blue: #0a1218;

// Grays
$lighter-gray: #888787;
$dark-gray: #5D6368;
$darker-gray:  #1b1c1f;
$darkest-gray: #0c1013;
$darkest-gray2: #0d0a0b;

// keyboard
$kb-btn-bg: #313038;
$kb-btn-dark-bg: #1d1c21;

// login
$login-input-color: #838383;

// EPG
$epg-title-color: #606d77;

// Parental controls
$pc-channel-name: $dark-gray;

// orange
$orange: #ffae3e;
$orange-70-percents-opacity: rgba(255, 174, 62, 0.7);

// epg colors
$epg-detail-view-background: #101619;
$epg-white: #f4f5f9;
$epg-light-gray-border: rgba(255, 255, 255, 0.24);
$epg-light-blue-border: #1b1d21;
$epg-lighter-gray: #383c42;
$epg-dark-gray: #23262b;
$epg-dakest-gray: #12161b;
$epg-selected-show-border-gray: rgb(155, 155, 155);