@import './Button.scss';

.home {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  font-size: 2rem;
  color: #fff;
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 14rem;
  font-size: 1rem;
  background-color: #222933;
}

.data {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 2rem;
  left: 50%;
  width: 80rem;
  height: 10rem;
  transform: translateX(-50%);
}

.box {
  width: 100%;
  padding-left: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h3 {
    font-size: 1.2rem;
    margin: 0;
    text-transform: uppercase;
    font-weight: 500;
    color: rgba(#fff, .8);
  }

  &.disabled {
    p {
      color: rgba(#fff, .2);
    }
  }

  p {
    margin: 0;
    font-size: 3rem;
    letter-spacing: .3rem;
  }

  span {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    color: rgba(#fff, .6);
    font-weight: 500;
  }
}

.holder {
  position: absolute;
  left: 0;
  top: 14rem;
  width: 100vw;
  height: 40rem;
  padding-top: 2rem;
  border-bottom: 1px solid #373f49;
  background-color: #222933;
}

.ip {
  position: absolute;
  left: 50%;
  bottom: 2rem;
  width: 20rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  transform: translateX(-50%);

  h3 {
    font-size: 1rem;
    margin: 0 0 .4rem;
    text-transform: uppercase;
    font-weight: 400;
    color: rgba(#fff, .4);
  }
  p {
    margin: 0;
    font-size: 1.8rem;
    letter-spacing: .2rem;
    color: rgba(#fff, .8);
  }
}

.title {
  margin: 0;
  padding: 0;
  font-size: 1.8em;
}

.description {
  margin: 0;
  padding: 0;
  color: #777;
  font-size: 1em;
}

.sparklines {
  position: absolute;
  top: 16rem;
  left: 50%;
  width: 72rem;
  height: 18rem;
  transform: translateX(-50%);
  overflow: hidden;

  opacity: 0;

  &.show {
    animation: fadeInEffect 1s ease forwards;
  }

  svg {
    position: absolute;
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
    background: transparent;
    // filter: drop-shadow( 0px 0px 1px #1bb933 );
  }
}


.button {
  position: absolute;
  top: 58rem;
  left: 50%;
  transform: translateX(-50%);
}

@keyframes fadeInEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
