@import './Button.scss';

.home {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  color: #fff;
}

section {
  width: 100%;
  background-color: #222933;
}

.inner {
  width: 60rem;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
}

.row {
  position: relative;
  width: 100%;
  padding: 3rem 0;
  display: flex;
}

.box {
  width: 17rem;
  height: 10rem;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #2b333e;

  &.disabled {
    p {
      color: rgba(#fff, .2);
    }
  }

  h3 {
    margin: 0;
    font-size: 1.6rem;
    text-transform: uppercase;
  }

  p {
    margin: 0;
    font-size: 3rem;
    letter-spacing: .3rem;
  }

  span {
    font-size: 1.4rem;
    color: rgba(#fff, .6);
    font-weight: 500;
  }
}

.ip {
  position: absolute;
  left: 50%;
  bottom: 2rem;
  width: 20rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  transform: translateX(-50%);

  h3 {
    font-size: 1rem;
    margin: 0 0 .4rem;
    text-transform: uppercase;
    font-weight: 400;
    color: rgba(#fff, .4);
  }
  p {
    margin: 0;
    font-size: 1.8rem;
    letter-spacing: .2rem;
    color: rgba(#fff, .8);
  }
}

.title {
  margin: 0;
  padding: 0;
  font-size: 1.8em;
}

.description {
  margin: 0;
  padding: 0;
  color: #777;
  font-size: 1em;
}

.sparklines {
  position: relative;
  width: 40rem;
  height: 10rem;
  margin-left: 3rem;
  overflow: hidden;

  opacity: 0;

  &.show {
    animation: fadeInEffect 1s ease forwards;
  }

  svg {
    position: absolute;
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
    background: transparent;
  }
}


.button {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

@keyframes fadeInEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
